@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700;800;900&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Red Hat Display", sans-serif;;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.mainContainer {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  border: 2px solid red;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  clear: both;
  content: "";
  display: table;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.squareButton {
  border: 2px solid #4285f4;
  float: left;
  font-size: 40px;
  color: white;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
  background-color: black;
}

.restart {
  width: 10px;
}